@import "tailwindcss";

:root {
  /* Base Colors */
  --primary: #162466;
  --primary-dark: #181b31;
  --secondary: #ff3b33;
  --gray: #d6d6e3;
  --white: #ffffff;

  /* Color Mixes */
  --primary-30: color-mix(in srgb, var(--primary) 30%, transparent);
  --gray-30: color-mix(in srgb, var(--gray) 30%, transparent);
  --white-30: color-mix(in srgb, var(--white) 30%, transparent);

  /* Shadows */
  --shadow-idol: 0 0 0 0 transparent;
  --shadow-primary: 0 0 0 5px var(--primary-30);
  --shadow-gray: 0 0 0 5px var(--gray-30);
  --shadow-white: 0 0 0 5px var(--white-30);

  /* Gradients */
  --gradient-primary: linear-gradient(
    135deg,
    #e9f7ff 0%,
    #ffdbd4 50%,
    #fff3ca 100%
  );
  --gradient-secondary: linear-gradient(135deg, #fff8f8 0%, #f5f7ff 100%);

  /* Fonts */
  --font-nunito: "Nunito", sans-serif;
  --font-noto-sans: "Noto Sans", sans-serif;
}

/* Theme */
@theme {
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-secondary: var(--secondary);
  --color-gray: var(--gray);
  --color-white: var(--white);
  --shadow-idol: var(--shadow-idol);
  --shadow-primary: var(--shadow-primary);
  --shadow-gray: var(--shadow-gray);
  --shadow-white: var(--shadow-white);
  --font-nunito: var(--font-nunito);
  --font-noto-sans: var(--font-noto-sans);

  /* breakpoints */
  --breakpoint-xs: 30rem;
}

/* Base Styles */
@layer base {
  * {
    @apply m-0 box-border p-0;
  }
  img {
    @apply block h-full w-full object-cover;
  }
  body {
    @apply font-nunito text-primary-dark overflow-x-hidden bg-white text-sm font-normal sm:text-base lg:text-lg;
  }
  section,
  footer {
    @apply py-12 sm:py-16 md:py-18 lg:py-20;
  }
  a {
    @apply w-fit text-[inherit];
  }
  footer a:hover {
    @apply underline;
  }
  .container {
    @apply mx-auto px-6 lg:px-8;
    max-width: 1200px !important;
  }
}

/* Components */
@layer components {
  .btn {
    @apply shadow-idol cursor-pointer rounded-sm border-2 border-transparent bg-transparent px-3 py-1.5 text-sm font-semibold capitalize transition-all duration-300 sm:px-[10px] sm:py-[5px] sm:text-base md:rounded-md lg:px-[15px] lg:py-[10px] lg:text-lg xl:rounded-[7px] xl:px-[20px] xl:py-[10px];
  }

  .btn-primary {
    @apply bg-primary text-white;
  }
  .btn-primary:hover {
    @apply bg-primary-dark shadow-primary;
  }

  .btn-secondary,
  /* For Disabled State We decrease the opacity and do pointer-events-none from JS */
  .btn-primary.disabled {
    @apply text-primary border-primary bg-transparent;
  }
  .btn-secondary:hover {
    @apply bg-primary-dark shadow-primary text-white;
  }

  .gradient-primary {
    background: var(--gradient-primary);
  }
  .gradient-secondary {
    background: var(--gradient-secondary);
  }

  .input-field {
    @apply border-gray focus:border-primary w-full rounded-md border-2 bg-white px-4 py-2 text-base transition-colors duration-300 outline-none sm:text-lg lg:px-6 lg:py-3;
  }

  .tag {
    @apply border-primary text-primary w-fit rounded-full border-2 px-3 py-1.5 text-sm font-medium shadow-[0_0_0_0px_var(--primary-30)] transition-shadow duration-300 sm:px-4 sm:py-2 sm:text-base md:px-5 md:py-2.5 lg:px-6 lg:py-3 lg:text-lg xl:px-7 xl:py-3 xl:text-xl;
  }

  .tag:hover {
    @apply shadow-[0_0_0_5px_var(--primary)];
  }
}

/* Interactions */

.nav-option {
  @apply text-primary relative transition-colors duration-300;
}
.nav-option.active {
  @apply text-secondary;
}

.nav-option::before {
  @apply absolute bottom-0 block h-1 w-full rounded-full bg-transparent;
  content: "";
}
.nav-option::after {
  @apply bg-primary absolute bottom-0 block h-1 w-0 rounded-full transition-all duration-300;
  content: "";
}
.nav-option:hover::after {
  @apply w-full;
}

.nav-option.active::before {
  @apply bg-primary absolute bottom-0 block h-1 w-full rounded-full;
  content: "";
}
.nav-option.active::after {
  @apply bg-secondary absolute bottom-0 block h-1 w-full rounded-full;
  content: "";
}
.card,
.card img {
  @apply transition-transform duration-300;
}

.card:hover {
  @apply -translate-y-1;
}

.card:hover img {
  @apply scale-108;
}

.card-team,
.card-team .team-pfp {
  @apply transition-transform duration-300;
}

.card-team:hover {
  @apply -translate-y-1;
}

.card-team:hover .team-pfp {
  @apply scale-108;
}

/* Utilities */
#navSlider {
  @apply translate-x-full;
}

#navSlider.active {
  @apply translate-x-0;
}

#navOverlay.active {
  @apply block;
}

header {
  @apply border-b-1 border-transparent bg-transparent transition-colors duration-300;
}
header.scrolled {
  @apply border-b-gray bg-white;
}

.faq i {
  @apply transition-transform duration-300;
}
.faq.active .faq-question i {
  @apply rotate-45;
}

.faq-answer {
  @apply transition-all duration-300;
}
.faq.active .faq-answer {
  @apply max-h-45 sm:max-h-35 md:max-h-30 lg:max-h-25;
}

.testimonial-prev.disabled,
.testimonial-next.disabled {
  @apply pointer-events-none opacity-50;
}

.client-swiper-wrapper {
  transition-timing-function: linear !important;
  @apply pointer-events-none;
}
